Source: moos-ivp
Priority: extra
Maintainer: Toby Schneider <tes.aubergine@gmail.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~),
               cmake (>= 2.6.0),
	       libxinerama-dev,
	       freeglut3-dev | libglut3-dev, 
               libx11-dev, 
               libxft-dev, 
               libtiff-dev,
               libfltk1.3-dev | libfltk1.1-dev,
               libmoos10-dev,
               libproj-dev
Standards-Version: 3.9.3
Section: science
Homepage: http://moos-ivp.org

Package: libmoos-ivp-dev
Section: libdevel
Architecture: any
Depends: libmoos-ivp (= ${binary:Version}), 
	 libxinerama-dev,
         freeglut3-dev | libglut3-dev, 
         libx11-dev, 
         libxft-dev, 
         libtiff-dev,
	 libfltk1.3-dev | libfltk1.1-dev,
         libmoos10-dev,
         libproj-dev
Description: Developers' package for the libraries included with the MOOS-IvP multi-objective decision engine (and related tools) for autonomous marine vehicles.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an {\em   interval} in N-Space.  The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors. 
 This package provides the developer headers for the libraries in MOOS-IvP.

Package: libmoos-ivp
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraries included with the MOOS-IvP multi-objective decision engine (and related tools) for autonomous marine vehicles.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an {\em   interval} in N-Space.  The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors.
 This package provides the libraries in MOOS-IvP.

Package: moos-ivp-gui
Depends: ${shlibs:Depends}, ${misc:Depends}, moosdb10
Recommends: moos10-essential
Section: science
Architecture: any
Description: Graphical tools for the MOOS-IvP multi-objective decision engine.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an {\em   interval} in N-Space.  The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors.
 This package provides the graphical applications in MOOS-IvP (e.g. pMarineViewer).

Package: moos-ivp-apps
Depends: ${shlibs:Depends}, ${misc:Depends}, moosdb10
Recommends: moos10-essential
Section: science
Architecture: any
Description: The MOOS-IvP multi-objective decision engine (pHelmIvP) and related tools for autonomous marine vehicles, except GUI applications.
 MOOS-IvP includes software for high-level control (decision-making) on robotic platforms (primarily marine). IvP stands for "Interval Programming" which is a mathematical programming model for multi-objective optimization. In the IvP model each objective function is a piecewise linear construct where each piece is an {\em   interval} in N-Space.  The IvP model and algorithms are included in the IvP Helm software as the method for representing and reconciling the output of helm behaviors. 
 This package provides the applications in MOOS-IvP (e.g. pHelmIvP), except those requiring graphical libraries.

