#!/usr/bin/make -f

UPSTREAM_VERSION = 24.8.1
UPSTREAM_TAG = v$(UPSTREAM_VERSION)
UPSTREAM_REPOSITORY = https://github.com/moos-ivp/moos-ivp

get-orig-source:
	set -e; \
	UPSTREAM_ARCHIVE=moos-ivp-$(UPSTREAM_TAG).tar.gz; \
	wget -q -O $$UPSTREAM_ARCHIVE $(UPSTREAM_REPOSITORY)/archive/refs/tags/$(UPSTREAM_TAG).tar.gz; \
	EXTRACTED_DIR=$$(tar tf $$UPSTREAM_ARCHIVE | head -1 | cut -f1 -d/); \
	tar xfz $$UPSTREAM_ARCHIVE; \
	rm -f $$UPSTREAM_ARCHIVE; \
	if [ "$$EXTRACTED_DIR" != "moos-ivp-$(UPSTREAM_VERSION)" ]; then mv $$EXTRACTED_DIR moos-ivp-$(UPSTREAM_VERSION); fi; \
	tar cfz moos-ivp_$(UPSTREAM_VERSION).orig.tar.gz moos-ivp-$(UPSTREAM_VERSION); \
	rm -rf moos-ivp-$(UPSTREAM_VERSION)

%:
	dh $@ --buildsystem=cmake --sourcedirectory=ivp/src

override_dh_auto_configure:
	dh_auto_configure -- -DIVP_BUILD_GUI_CODE=ON -DCMAKE_CXX_FLAGS="$(CXXFLAGS)"


# Add here any variable or target overrides you need.

export DEB_BUILD_PARALLEL = true
export CXXFLAGS = -Wno-error=format-security

export CC = $(DEB_HOST_GNU_TYPE)-gcc
export CXX = $(DEB_HOST_GNU_TYPE)-g++
