#!/usr/bin/make -f

UPSTREAM_LAST_RELEASE = 19.8.1
UPSTREAM_REVISION_SPEC = 
UPSTREAM_REPOSITORY = https://oceanai.mit.edu/svn/moos-ivp-aro/releases/moos-ivp-$(UPSTREAM_LAST_RELEASE)
get-orig-source:
	$(eval UPSTREAM_REVISION := $(shell svn info $(UPSTREAM_REVISION_SPEC) $(UPSTREAM_REPOSITORY) | grep "Last Changed Rev: " | sed 's/Last Changed Rev: //'))
	$(eval UPSTREAM_VERSION := $(UPSTREAM_LAST_RELEASE)+svn$(UPSTREAM_REVISION))

	svn export -q $(UPSTREAM_REVISION_SPEC) $(UPSTREAM_REPOSITORY) moos-ivp-$(UPSTREAM_VERSION)
	tar cfz moos-ivp_$(UPSTREAM_VERSION).orig.tar.gz moos-ivp-$(UPSTREAM_VERSION)
	rm -rf moos-ivp-$(UPSTREAM_VERSION)


include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk


# Add here any variable or target overrides you need.

DEB_SRCDIR=ivp/src
DEB_CMAKE_EXTRA_FLAGS= -DIVP_BUILD_GUI_CODE=ON
CXXFLAGS=-Wno-error=format-security
DEB_BUILD_PARALLEL = true

CC=$(DEB_HOST_GNU_TYPE)-gcc
CXX=$(DEB_HOST_GNU_TYPE)-g++
